.main__title{
    padding: 32px 0 24px 0;
}

.main__table{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 32px 24px;
    flex-wrap: wrap;
    padding-bottom: 80px;
}